body {
    @font-face {
        font-family: 'Helvetica . Black Oblique';
        src: url(../fonts/Helvetica .Black Oblique.otf);
    }
    font-family: 'Helvetica . Black Oblique';
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #3c3c3c;
    color: #fffcfc;
    padding: 15px;
}

h1 {
    margin: 0;
    font-size: 60px;
}

nav {
    margin: 0;
    background-color: rgba(110, 110, 110, 0.8);
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

nav a:hover {
    color: #007BFF;
}

section {
    padding: 20px;
}

.container {
    padding: 40px 0;
}

footer {
    background-color: #3c3c3c;
    color: #ffffff;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#home{
    background-image: url("../images/index.jpg");
    background-size: cover;
    background-position: center;
    scroll-behavior: auto;
    scrollbar-color: #ffffff;
    background-attachment: fixed;
}
.home-image {
    max-width: 300px;
    height: auto;
    object-fit: contain;
}

.content {
    background-color: rgba(110, 110, 110, 0.8);
    padding: 2rem;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    color: #ffffff;
    font-size: large;
}

.products, .cart {
    margin: 2em auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.products h2, .cart h2 {
    color: #333;
}

.product {
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#music{
    background-image: url("../images/music.jpg");
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.product h3 {
    margin: 0;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}

#cart-items div {
    margin: 0.5em 0;
}

li {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 8px;
    display: inline-block;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.modal {
    display: none;
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.modal-content {
    margin: 20px 0;
}

.slideshow-container {
    position: relative;
    margin: 40px auto;
    overflow: hidden;
}

.slides {
    display: none;
    height: auto;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
}

.prev, .next {
    cursor: pointer;
    position: flex;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0,0,0,0.5);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.music-list {
    color: #000000;
}
#dates {
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
    display: block;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    height: 100%;
    background-attachment: fixed;

}
span {
    color: #007BFF;
    padding: 2px;
}
#about{
    background-image: url("../images/about.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #ffffff;
    height: 100%;
}
.background-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: fill-available;
    height: fill-available;
    background-size: fill-available;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5;
 }
 .tour{
    text-align: center;
    font-size: x-large;
    color: #ffffff;
 }
 .music{
    color: #ffffff;
    background: none;
    display: square;
    align-content: left;
    justify-content: left;
    align-items: left; ;
 }
 .music-list{
    color: #ffffff;
    background: rgba(110, 110, 110, 0.8);
    display: square;
    align-content: left;
    justify-content: left;
    align-items: left; ;
 }
 #book {
    background-image: url("../images/book.jpg");
    background-size: fill-available;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
 }
 .hidden {
    display: none;
}
#cart-section {
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 300px;
    height: 100vh;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
}
#cart-section h2 {
    margin-top: 0;
}
#table {
    table {
        align-content: center;
        width: 100%;
        margin: 20px 0;
        font-size: 18px;
        text-align: left;
    }

    table th, table td {
        padding: 12px 15px;
        border: 1px solid #000000;
    }

    table th {
        background-color: #3c3c3c;
        color: #ffffff;
    }

    table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    table tr:hover {
        background-color: #ddd;
    }
    width: 100%;
    border-collapse: collapse;
    list-style: table;
    table-layout: auto;
}

 /* Large screens */
@media (min-width: 1024px) {
    body {
        font-size: 16px;
    }
    header {
        font-size: 16px;
    }
    nav {
        font-size: 16px;
    }
    section {
        font-size: 16px;
    }
    footer {
        font-size: 16px;
    }
    .content {
        font-size: 16px;
    }
    .products, .cart {
        font-size: 16px;
    }
    .product {
        font-size: 16px;
    }
    .product h3 {
        font-size: 16px;
    }
    button {
        font-size: 16px;
    }
    #cart-items div {
        font-size: 16px;
    }
    li {
        font-size: 16px;
    }
    ul {
        font-size: 16px;
    }
    .modal {
        font-size: 16px;
    }
    .modal .close {
        font-size: 16px;
    }
    .modal-content {
        font-size: 16px;
    }
    .slideshow-container {
        font-size: 16px;
    }
    .slides {
        font-size: 16px;
    }
    .fade {
        font-size: 16px;
    }

}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 14px;
    }
    header {
        font-size: 14px;
    }
    nav {
        font-size: 14px;
    }
    section {
        font-size: 14px;
    }
    footer {
        font-size: 14px;
    }
    .content {
        font-size: 14px;
    }
    .products, .cart {
        font-size: 14px;
    }
    .product {
        font-size: 14px;
    }
    .product h3 {
        font-size: 14px;
    }
    button {
        font-size: 14px;
    }
    #cart-items div {
        font-size: 14px;
    }
    li {
        font-size: 14px;
    }
    ul {
        font-size: 14px;
    }
    .modal {
        font-size: 14px;
    }
    .modal .close {
        font-size: 14px;
    }
    .modal-content {
        font-size: 14px;
    }
    .slideshow-container {
        font-size: 14px;
    }
    .slides {
        font-size: 14px;
    }
    .fade {
        font-size: 14px;
    }
    
}

/* Mobile phones */
@media (max-width: 600px) {
    body {
        font-size: 12px;
        width: 100%;
    }
    .background-video {
        display: none;
        background-attachment: fixed;
    }
    .home-image {
        background-size: auto;
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
    nav {
        flex-flow: column;
    }
    header {
        padding: 10px;
    }
    h1 {
        font-size: 40px;
    }
    nav a {
        margin: 10px 0;
        font-size: 16px;
    }
    section {
        padding: 10px;
    }
    .container {
        padding: 20px 0;
    }
    footer {
        padding: 5px;
        font-size: 12px;
    }
    .content {
        padding: 1rem;
        font-size: medium;
    }
    .products, .cart {
        margin: 1em auto;
        padding: 10px;
    }
    .product {
        flex-direction: column;
        align-items: flex-start;
    }
    button {
        padding: 0.5em;
        font-size: 14px;
    }
    li {
        padding: 5px;
        margin: 5px;
    }
    .modal {
        padding: 10px;
    }
    .slideshow-container {
        margin: 20px auto;
    }
    .prev, .next {
        padding: 10px;
        font-size: 14px;
    }
    .tour {
        font-size: large;
    }
    .music {
        font-size: medium;
    }
    .music-list {
        font-size: medium;
    }
    #cart-section {
        padding: 10px;
        max-width: 100%;
    }
    #cart-section h2 {
        font-size: 14px;
    }
    #table {
        font-size: 14px;
    }
}

/* Laptops */
@media (max-width: 1920px) {
    body {
        font-size: 16px;
    }
    .home-image {
        max-width: 300px; 
        height: auto;
        object-fit: contain;
    }
}
.nav-link:hover {
    font-weight: bold;
    color: gray; 
}
.active {
    font-weight: bold;
    text-decoration: underline;
}
.cta-button {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
    display: inline-block;
}
.cta-button:hover {
    background-color: #e65c00;
}
